@media print {
    body {
        padding: 1in .75in .75in .75in;
        font-size: 18pt;
    }

    .noprint {
        display: none !important;
    }

    .div.select-button {
        border: none;
    }

    img.checkbox {
        border: solid 1pt #555;
    }
}
