@page "/"
@namespace JobHunter.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BlueSite</title>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/bluesite.css" rel="stylesheet" />
    <link href="css/bluesite.dialog.css" rel="stylesheet" />
    <link href="css/bluesite.forms.css" rel="stylesheet" />
    <link href="css/bluesite.grids.css" rel="stylesheet" />
    <link href="css/todo.css" rel="stylesheet" />

    <script src="scripts/jQuery.js"></script>
    <script src="scripts/masthead.js"></script>
    <script src="scripts/bluesite.js"></script>
    <script src="scripts/dialogs.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="Scripts/selectList.js"></script>
    <script>
    </script>
    <div id="select-list-sec" style="display:none;"></div>
    <div id="notifications" style="display: none;">Notifications</div>
</body>
</html>
