@inherits CampaignsBase
@page "/campaigns"
@using JobHunter.Shared
@using JobHunter.Application
@using BlueSite.Data
@using BlueSite.Data.Entities
@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context

<SideBar MenuSet="companies" OnClickCallback="@HandleSidebarOption" />

<h1>Campaigns<TitleIcons Title="Campaigns" IconWidth="24px" /></h1>


@if (Campaigns.Count < 1)
{
    <p>No campaigns found</p>
}
else
{

}
