@inherits CampaignEditBase
@page "/campaignedit"
@page "/campaignedit/{id}"

@using JobHunter.Shared
@using JobHunter.Application
@using BlueSite.Data
@using BlueSite.Data.Entities

@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context
<SideBar MenuSet="campaign" />

<EditForm Model="@Campaign" OnValidSubmit="HandleValidSubmit">
    <div class="d-inline-block" style="width:70%">
        <h1>@PageAction Organization <span class="normal">(Id: #@Campaign.CampaignId.)</span></h1>
    </div>
    <div class="d-inline-block" style="width:28%; text-align: right;">
        <button class="btn btn-secondary" @onclick="HandleCancel" style="margin-top: 25px;">Cancel</button>
        <button class="btn btn-primary" style="margin-top: 25px;">Save</button>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />




</EditForm>
<div class="info">@StatusMessage</div>

