@page "/companies"
@using JobHunter.Shared
@using BlueSite.Data
@using BlueSite.Data.Entities
@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context
<SideBar MenuSet="companies" />

<h1>Company List</h1>

<table class="to-do" border="0" style="width: 100%">

    @for (int i = 0; i < companies.Count; i++)
    {
        int index = i;
        Company c = companies[index];
        <tr class="todo-list">
            <td>@c.Name</td>
            <td>@c.City</td>
        </tr>
    }

</table>



    @code {

        List<Company> companies;
        JobHuntRepository Repository;










        /* *******************************************************************
            Startup Events
         ****************************************************************** */

        protected override void OnInitialized()
        {
            Repository = new JobHuntRepository(_context);
            companies = GetCompanyList();

        }

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await SetTitle("Companies");
        }

        async Task SetTitle(string title)
        {
            await JsRuntime.InvokeVoidAsync(identifier: "setTitle",
                title);
        }


        /* *******************************************************************
            Data MEthods
         ****************************************************************** */

        List<Company> GetCompanyList()
        {
            return Repository.AllCompanies;
        }


    }
