@page "/companies"
@using JobHunter.Shared
@inject IJSRuntime JsRuntime
    <SideBar MenuSet="companies" />

    <h1>Company List</h1>

    A list of companies will go here

    @code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await SetTitle("Companies");
        }

        async Task SetTitle(string title)
        {
            await JsRuntime.InvokeVoidAsync(identifier: "setTitle",
                title);
        }
    }
