@page "/companyview/{id}"
@using JobHunter.Shared
@using BlueSite.Data
@using BlueSite.Data.Entities
@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context
<SideBar MenuSet="company" />

<h1>Company @company.Name</h1>

<table class="to-do" border="0" style="width: 100%">


</table>



@code {
    [Parameter]
    public string Id { get; set; }

    BlueSite.Data.Entities.Company company;
    JobHuntRepository Repository;










    /* *******************************************************************
        Startup Events
     ****************************************************************** */

    protected override void OnInitialized()
    {
        Repository = new JobHuntRepository(_context);


    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        int CompanyId = Convert.ToInt32(Id);
        company = GetCompany(CompanyId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await SetTitle($"Viewing Company Id #{company.Id}");
    }

    async Task SetTitle(string title)
    {
        await JsRuntime.InvokeVoidAsync(identifier: "setTitle",
            title);
    }


    /* *******************************************************************
        Data MEthods
     ****************************************************************** */

    Company GetCompany(int id)
    {
        return Repository.GetCompany(id);
    }


}
