@page "/"
@using JobHunter.Shared
@inject IJSRuntime JsRuntime
<SideBar MenuSet="home" />

<h1>JobHunt 2020</h1>

<ToDoList />

@code {

    List<string> EventType = new List<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await SetTitle("Home");
    }

    async Task SetTitle(string title)
    {
        await JsRuntime.InvokeVoidAsync(identifier: "setTitle", title);
    }
}

