@using BlueSite.Data.Entities
@using System.Text.RegularExpressions
@using JobHunter.Application

@if (!String.IsNullOrEmpty(FormattedAddress))
{
    if (!String.IsNullOrEmpty(mapUrl))
    {
        <a href="@mapUrl" title="Directions on Google Maps" target="_new">@FormattedAddress</a>
    }
    else
    {
        @FormattedAddress
    }
}
else
{
    @:&nbsp;
}

@code {

    [Parameter]
    public Company Company { get; set; }

    [Parameter]
    public Contact Contact { get; set; }

    [Parameter]
    public string Format { get; set; }

    private Models.Address address = new Models.Address();

    private string Address1 { get; set; } = "";
    private string Address2 { get; set; } = "";
    private string City { get; set; } = "";
    private string State { get; set; } = "";
    private string Zip { get; set; } = "";

    protected string FormattedAddress;
    private string mapUrl;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Company != null)
        {
            address = Utilities.GetAddress<Company>(Company);
        }
        else if (Contact != null)
        {
            address = Utilities.GetAddress<Contact>(Contact);
        }
        FormattedAddress = address.GetAddressString();
        if (FormattedAddress != null && !Regex.IsMatch(FormattedAddress, @"[^ \,\+]")) FormattedAddress = "";
        mapUrl = Utilities.GetDirections(address);
    }

}
