@using JobHunter.Models
@using BlueSite.Data.Entities

    <div class="form-group">
        <label class="form-label" for="@Id">@Caption</label><br />
        @if (Type.ToLower() == "combo")
        {
            <input type="text" @bind-value="Value" id="@Id" class="form-control inset" readonly style="width: @Width;" /><div class="select-button select-large"
                    @onclick="HandleEventClick"
                    style="width: 28px;">
                    &nbsp;
                </div>
        }
        else 
        { 
            <div id="@Id" class="form-control select-control link" @onclick="HandleEventClick" style="width: @Width;">
                @Value
            </div>
        }
    </div>


@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback HandleEventClick { get; set; }

    [Parameter]
    public string Type { get; set; } = "normal"; // -- normal / combo


}
