<div class="bl-confirm" style="@hidden">
    <div class="bl-dialog-header">@Title</div>
    <div class="bl-dialog-body">@Message</div>
    <div class="bl-dialog-buttons">
        <button class="btn btn-secondary" @onclick='Hide'>Cancel</button>
        <button class="btn btn-primary" @onclick='eventArgs => OnClickCallback.InvokeAsync("continue")'>Continue</button>
    </div>
</div>

@code {

    [Parameter]
    public string Title {  get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    string hidden = "";

    public void Hide()
    {
        hidden = "display: none";
        StateHasChanged();
    }

    public void Show()
    {
        hidden = "";
        StateHasChanged();
    }


}
