@using JobHunter.Models
<select class="form-control dropdown" @onchange="(eventArgs => OnClickCallback.InvokeAsync(eventArgs.Value.ToString()))">
    @foreach (var o in Options) {
        <option value="@o.Key">@o.Value</option>
    }
</select>

@code {
    List<DDOption> Options = new List<DDOption>();

    [Parameter]
    public string OptionSet { get; set; }

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    [Parameter]
    public List<DDOption> Data { get; set; }

    [Parameter]
    public string Value { get; set; }

    private string sel = "";

    protected override void OnInitialized()
    {
        foreach (var dd in Data)
        {
            Options.Add(new DDOption(dd.Key, dd.Value));
        }
    }




}
