@using BlueSite.Data.Entities

    <div class="flex inline-menu">
        @foreach (var t in MenuSet)
        {<ImageButton Index="@Index.ToString()" Image="@t.Icon" ToolTip="@t.Caption" OnChangeCallback="@OnChangeCallback" />}


    </div>

@code {
    [Parameter]
    public string Index { get; set; }

    [Parameter]
    public ActionItem Action { get; set; }

    [Parameter]
    public EventCallback<string> OnChangeCallback { get; set; }

    [Parameter]
    public List<MenuItem> MenuSet { get; set; }

    private string ImageBase;

    protected override void OnParametersSet()
    {
        ImageBase = (Action.Notes != null && Action.Notes.Count > 0) ? "Note-Filled" : "Note";
    }

}
