@if (!String.IsNullOrEmpty(Url))
{
    <a href="@linkUrl" target="_new"><img src="images/icons/@Image-0.png" width="28" title="Location on Google Maps"
        onmouseover="setIconImage(this, '@Image-1.png')" 
        onmouseout="setIconImage(this, '@Image-0.png')" 
     /></a>
}
else
{
   <img src="images/icons/blank.png" width="28" />
}

@code {
    [Parameter]
    public string Url { get; set; }

    string[] link;
    string linkText;
    string linkUrl;

    string Image = "Location";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Url != null)
        {
            link = Url.Split("://");
            if (link.Length > 1)
            {
                linkUrl = $"{link[0]}://{link[1]}";
            }
            else
            {
                linkUrl = $"http://{link[0]}";
            }

        }
    }

}
