<div id="masthead-left">
    <img src="images/masthead-logo.png" id="masthead-logo" />
    <span id="masthead-title">Default Title</span>
</div>
<div id="masthead-right">
    &nbsp;
</div>

@code {


}
