@using JobHunter.Application
@using JobHunter.Models
@using BlueSite.Data
@using BlueSite.Data.Entities

@inject BlueSiteContext _context



<div id="masthead-left">
    <img src="images/masthead-reticle-logo.png" id="masthead-logo" />
        <span id="masthead-title">Default Title</span>
</div>
<div id="masthead-right">
    &nbsp;
</div>

@code {

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        JobHuntRepository Repository;

        Repository = new JobHuntRepository(_context);

        Globals.CurrentUser = Repository.GetUserFromSignon("Tom");
    }

}
