<section class="section-heading">
    <table style="width: 100%">
        <tr>
            <td class="page-section-title nobreak">@Title</td>
            <td class="page-section-divider"><hr /></td>
        </tr>
    </table>
</section>
<section class="@Class">@ChildContent</section>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title {  get; set; }

    [Parameter]
    public string Class { get; set; }
}
