@using System.Text.RegularExpressions

<div style="display: inline-block; width: @Width; height: @Height">&nbsp;</div>

@code {
    [Parameter]
    public string Width { get; set; } = "20px";

    [Parameter]
    public string Height { get; set; } = "20px";


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (!Regex.IsMatch(Width, @"[^0-9]"))
        {
            Width = $"{Width}px";
        }
        if (!Regex.IsMatch(Height, @"[^0-9]"))
        {
            Height = $"{Height}px";
        }
    }

}
