@using BlueSite.Data.Entities
@inject BlueSiteContext _context

    <tr>
        <td</td>
        <td></td>

    </tr>


@code {

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public BlueSite.Data.Entities.TopicPoint Point { get; set; }

    [Parameter]
    public EventCallback HandlePointChange { get; set; }

    [Parameter]
    public TopicSection Parent { get; set; }

    [Parameter]
    public bool IsNew { get; set; }

    public string ElementId = "";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (IsNew)
        {
            ElementId = $"topic-point-{Parent.Topic.Id}-{Index}";
        }
        else
        {
            ElementId = $"topic-point-{Parent.Topic.Id}-new";
        }
    }

    async void HandleChange(string value)
    {
        Point.Text = value;
        if (IsNew)
        {
            _context.TopicPoints.Add(new TopicPoint(Point));
            Parent.SetParentRefresh();
        }
        await HandlePointChange.InvokeAsync(value);
        StateHasChanged();
    }

}
