@using BlueSite.Data.Entities
@inject BlueSiteContext _context

<div class="bullet-point-edit nobreak">
    @if (Point.Id > 0)
    {
        <DragHandle Index="@Index.ToString()" Image="Bars" ToolTip="Drag to set the bullet order" />
    }
    else
    {
        <Spacer Width="20" />
    }
    <textarea id="@ElementId"
           onkeypress="triggerChangeOnEnter(event, this)"
           placeholder="Add Talking Point"
           class="form-control inset bullet-point-edit"
           @onchange='e => HandleChange(e.Value.ToString())'
           value="@Point.Text" />
</div>


@code {

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public BlueSite.Data.Entities.TopicPoint Point { get; set; }

    [Parameter]
    public EventCallback HandlePointChange { get; set; }

    [Parameter]
    public TopicEditSection Parent { get; set; }

    [Parameter]
    public bool IsNew { get; set; }

    public string ElementId = "";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (IsNew)
        {
            ElementId = $"topic-point-{Parent.Topic.Id}-{Index}";
        }
        else
        {
            ElementId = $"topic-point-{Parent.Topic.Id}-new";
        }
    }

    async void HandleChange(string value)
    {
        Point.Text = value;
        if (IsNew)
        {
            _context.TopicPoints.Add(new TopicPoint(Point));
            Parent.SetParentRefresh();
        }
        await HandlePointChange.InvokeAsync(value);
        StateHasChanged();
    }

}
